[submodule "bundle/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-pandoc-syntax"]
	path = pack/bundle/opt/vim-pandoc-syntax
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/bundle/start/syntastic"]
	path = pack/bundle/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "pack/bundle/start/vim-colors-solarized"]
	path = pack/bundle/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/bundle/start/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/bundle/start/neosnippet.vim"]
	path = pack/bundle/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "pack/bundle/start/neosnippet-snippets"]
	path = pack/bundle/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
