[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/bundle/start/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/bundle/start/neosnippet-snippets"]
	path = pack/bundle/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "pack/bundle/start/bufexplorer"]
	path = pack/bundle/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/bundle/start/LanguageClient-neovim"]
	path = pack/bundle/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/fzf.vim"]
	path = pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/bundle/start/neosnippet"]
	path = pack/bundle/start/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "pack/bundle/start/vifm.vim"]
	path = pack/bundle/start/vifm.vim
	url = https://github.com/vifm/vifm.vim.git
[submodule "pack/bundle/start/lightline"]
	path = pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
